.form {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 100px auto;
  border-radius: 10px;
  padding: 20px;
}
.form-item {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.form-item .left {
  margin-right: 10px;
}
.btn {
  display: block;
  width: 70px;
  margin: 0 auto;
}
